
*.jsx linguist-detectable=true
*.jsx linguist-language=JavaScript

*.tsx linguist-detectable=true
*.tsx linguist-language=TypeScript

*.html linguist-detectable=false
*.css linguist-detectable=false
